:root {
  --dark-blue: #3888BF;
  --dark-plum: #845C85;
  --light-blue: #7AAFD4;
  --light-teal: #54C5BB;
  --light-plum: #C17F97;
  --purple-blue:#6772e5;
  --grey-blue: #525f7f;
  --deep-blue: #082840;  
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --white: #fff;
  --titleColour: var(--dark-blue);
  --bodyColour: var(--grey-blue);
  
  --bodyFont: 'Aleo', sans-serif;
  --titleFont: 'Fira Sans', sans-serif;
  --bodyFontSize: 18px;
  --navFontSize: 22px;
  --titleH1FontSize: 24px;
  --titleH2FontSize: 20px;
  --titleH3FontSize: 18px;
  --bannerLargeSize: 32px;
  --bannerSmallSize: 24px;
  --aboutDirection: column;
  --headshotOrder: 0;
  --bioOrder: 0;
  --bodyWidth: 100%;
  --sectionPaddingTop: 16px;
  --sectionPaddingSide: 0;
  --logoHeight: 40px;
  --mugSize: 50%;
  --listPadding: 1rem;
  --headerDirection: column;
  --bannerHeight: 40vh;
}

@media only screen and (min-width: 960px) {
  :root {
  --bodyWidth: 960px;
  --bodyFontSize: 22px;
  --navFontSize: 24px;
  --titleH1FontSize: 32px;
  --titleH2FontSize: 24px;
  --titleH3FontSize: 20px;
  --bannerLargeSize: 48px;
  --bannerSmallSize: 32px;
  --sectionPaddingTop: 24px;
  --sectionPaddingSide: 32px;
  --aboutDirection: row;
  --bioOrder: 1;
  --headshotOrder: 2;
  --logoHeight: 48px;
  --mugSize: 80%;
  --listPadding: 2.5rem;
  --headerDirection: row;
  --bannerHeight: 30vh;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--bodyColour);
  background-color: var(--white);
}

.banner,main,header,footer {
  width: var(--bodyWidth);
  margin: 0 auto;
}

footer {
  border-top: 1px solid var(--dark-plum);
  text-align: center;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
  color: var(--light-blue);
}

.banner,
section {
  padding: var(--sectionPaddingTop) var(--sectionPaddingSide);
}

h1,h2,h3 {
  font-family: var(--titleFont);
  color: var(--titleColour);
}

h1 {
  font-size: var(--titleH1FontSize);
}

h2 {
  font-size: var(--titleH2FontSize);
}

h3 {
  font-size: var(--titleH3FontSize);
}
p,ol,ul,dl {
  font-size: var(--bodyFontSize);
  line-height: 1.45;
}

ul {
  padding-left: var(--listPadding);
}

p:last-child {
  margin-bottom: 0;
}

li {
  margin-bottom: 21px;
}

.fa {
  color: var(--dark-plum);
}

.cover {
  width: 100%;
  min-height: var(--bannerHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  /* padding: 4rem; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.cover * {
  color: var(--white);
}

/* actual images */
.people {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), 
  url(/img/leadership.jpg);
}

.puzzle {
  background-image: linear-gradient(to bottom, rgba(39, 40, 34, 0.9), rgba(39, 40, 34, 0.0)),
  url(/img/puzzle.jpg);
}

/*
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 *//*
}
*/

.tmpl-post li {
  margin-bottom: 1em;
}

.about-page .layout {
  display: flex;
  flex-direction: var(--aboutDirection);
}

.about-page .layout .bio {
  order: var(--bioOrder)
}

.about-page .layout .headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: var(--headshotOrder);
}

.about-page .layout .headshot img {
  width: var(--mugSize);
  margin-bottom: 2rem;
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
  color: var(--dark-plum);
  text-decoration: underline;
}
/*
a[href]:visited {
  color: var(--dark-plum);
}
*/
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  display: flex;
  flex-direction: var(--headerDirection);
  align-items: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid var(--dark-plum);
}

header.bannerOn {
  border: none;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.overview {
  padding-top: 2rem;
}


.banner h1 {
  font-size: var(--bannerLargeSize);
  font-weight: 400;
}

.banner h2 {
  font-size: var(--bannerSmallSize);
  font-weight: 400;
}

.banner img {
  width: 100%;
  margin: 0 auto;
}

p.lede {
  font-size: larger;
  color: var(--darkgray);
}


/* Header 
*/
.home {
  padding: 0 1rem;
  float: left;
  margin: 1.3rem 0; /* 16px /16 */
  font-size: 21px; /* 16px /16 */
}

.home img {
  height: var(--logoHeight);
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav 
*/
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  font-size: var(--navFontSize);
  margin: 0 1em 0 0;
}

.nav-item a {
  color: var(--light-blue);
}

.nav-item a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.nav-item-active a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--dark-blue);
}


