---
layout: layouts/base.njk
bannerOn: yes
---
{% for section in collections.sections %}
  <section class="{{section.data.class}}">
    {{ section.templateContent | safe }}
  </section>
{% endfor %}

