---
layout: layouts/base.njk
templateClass: page
---
<section>
<h1>{{ title }}</h1>

{{ content | safe }}

<p><a href="{{ '/' | url }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a></p>
</section>